@import "../../../node_modules/react-beautiful-horizontal-timeline/card.css";

/* @font-face {
  font-family: "PlusJakartaSans";
  src: url("../../fonts/PlusJakartaDisplay/PlusJakartaSans-Medium.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
} */

@font-face {
  font-family: "MaisonNeue";
  src: url("../../fonts/MaisonNeueExtended-Medium.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "MaisonNeue";
  font-style: normal;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

div {
  color: #000000;
}

p {
  line-height: 0;
  margin: 0 !important;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.shadow-sm {
  box-shadow: rgb(136 152 170 / 20%) 0px 0px 1rem !important;
}

.content {
  background-color: unset !important;
  border-radius: 0 !important;
  box-shadow: unset !important;
}

.card-body {
  padding: 15px;
}

.row {
  margin-left: unset;
  margin-right: unset;
}

.visi_misi .slider-playnow .slick-list {
  padding-bottom: 20px !important;
}

.visi_misi .slider-playnow .slick-next:before {
  color: #444444;
}

.visi_misi .slider-playnow .slick-prev:before {
  color: #444444;
}

form input:focus {
  border: 1px solid #000000 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 20px;
  right: -288px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #ffffff;
}
.nav__menu-list.active {
  right: 0;
  padding: 30px;
}

.nav-item:hover {
  font-weight: bold;
  color: #434343;
}

.nav-item {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.2s;
  color: #666666;
}

.nav-item > .active {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.2s;
  font-weight: bold;
  color: #434343;
}

.nav__link {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.2s;
  color: #666666;
}

.nav__link.active {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.2s;
  font-weight: bold;
  color: #434343;
}

.nav__link:hover {
  font-weight: bold;
  color: #434343;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-footer {
  border-right: unset;
}

.header-cover {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.visi_misi .slick-dots li button:before {
  color: rgba(217, 217, 217, 0.534) !important;
}

.visi_misi .slick-dots li.slick-active button:before {
  color: #ffffff !important;
}

.visi_misi button.slick-prev {
  display: none !important;
}

.visi_misi button.slick-next {
  display: none !important;
}

.slick-next:before,
.slick-prev:before {
  color: #000000;
}

.background_image {
  width: 100%;
  height: 100%;
  /* background-image: url("../../img/theme/foto landing page.png"); */
  background-position: center;
  /* background-size: cover; */
  background-size: 100%;
  -webkit-transition: all 0.3s ease-in-out;
}

/* .background_parent:hover .background_image,
.background_parent:focus .background_image {
  transform: scale(1.2);
} */

.background_parent:hover .background_image {
  background-size: 150%;
}

.background_cover {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
}

.padding_footer {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.background_work {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_header {
  background-color: rgba(255, 255, 255, 0.47);
  padding: 15px;
  border-radius: 7px;
}

.underline_hover {
  display: inline-block;
  position: relative;
  color: #000000;
}

.underline_hover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline_hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.arrow_hover {
  display: block;
  position: relative;
  transition: 0.5s;
}

.arrow_hover:before {
  content: "->";
  position: absolute;
  opacity: 0;
  /* top: 14px;
  right: -20px; */
  left: -5px;
  transition: 0.5s;
}

.arrow_hover:hover {
  padding-left: 20px;
}

.arrow_hover:hover:before {
  opacity: 1;
  left: -2px;
}

.filter_display_none {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.m-fadeOut {
  visibility: hidden;
  /* display: none; */
  opacity: 0;
  transition: visibility 0s linear 0ms, opacity 900ms;
}
.m-fadeIn {
  visibility: visible;
  /* display: block; */
  opacity: 1 !important;
  transition: visibility 0s linear 0s, opacity 900ms;
}

.filter_height {
  min-height: 178px;
}

#menu1,
#menu2 {
  opacity: 0;
}

.parent_slider {
  cursor: pointer;
}

.title_slider {
  color: #aaaaaa;
  font-weight: bold;
  font-size: large;
}

.dot_slider {
  background-color: #aaaaaa;
}

.title_slider_active {
  color: #000000 !important;
  font-weight: bold;
  font-size: large;
}

.dot_slider_active {
  background-color: #000000 !important;
}

.parent_slider:hover .dot_slider {
  background-color: #000000;
}

.parent_slider:hover .title_slider {
  color: #000000;
}

.text_vision_mision {
  color: #ffffff;
  font-size: 14px;
}

.text_title_vision_mision {
  color: #ffffff;
  font-size: 20px;
}

.child_title_project {
  color: #ffffff;
  font-size: 22px;
}

.title_project {
  color: #ffffff;
  font-size: 10px;
}

.title_section {
  font-size: 28px;
}

.desc_section {
  font-size: 14px;
}

.border_filter {
  border-right: unset;
}

.display-small {
  display: block;
}

.display-large {
  display: none;
}

@media screen and (min-width: 789px) {
  .border_filter {
    border-right: 2px solid #000000;
  }
}

@media screen and (min-width: 1215px) {
  .border-footer {
    border-right: 2px solid #000000;
  }
}

@media screen and (min-width: 700px) {
  .text_vision_mision {
    font-size: 18px;
  }

  .text_title_vision_mision {
    font-size: 32px;
  }

  .child_title_project {
    font-size: 24px;
  }

  .title_project {
    font-size: 14px;
  }

  .title_section {
    font-size: 48px;
  }

  .desc_section {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .display-small {
    display: none;
  }

  .display-large {
    display: block;
  }
}

@media screen and (min-width: 995px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 30px;
    align-items: center;
  }

  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -8px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
  .nav__link.active::before {
    width: 100%;
  }
}
